
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/migrations/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

/contract/target/
/contract/test_snapshots/
/token/target/
/token/test_snapshots/
/migrations/
/docker/
###< symfony/webpack-encore-bundle ###
