{% extends 'base.html.twig' %}

{% block title %}Panel{% endblock %}

{% block body %}

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Enabled</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.address }}</td>
                <td>{{ user.enabled }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
